@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    background: none;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 400px;
    height: 200px;
}

.header-text, .footer-text {
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    transition: 0.3s ease;
}

.header-text:hover, .footer-text:hover {
    color: white;
}

.header-text::before, .footer-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 3px;
    bottom: -2px;
    right: 8px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header-text:hover::before, .footer-text:hover::before {
    transform: scaleX(1);
}

.header-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-right: 100px;
}

/*-------------MAIN-------------*/

main {
    margin: 0;
    padding: 0;
}

.introduce {
    color: white;
    font-family: 'Intro';
    margin-right: 300px;
    font-size: 40px;
}

section.image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div.text {
    background-color: whitesmoke;
    padding: 20px;
    font-family: 'Intro';
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.pricelist {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.bta, .websites {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 95%;
}

.bta img, .websites img, .websites a {
    border-radius: 20px;
}

.websites a:hover {
    border: solid 2px white;
}

.websites a:hover > p {
    display: flex;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.9);
    background-size: 100%;
    border-radius: 50px;
}

.bta img:hover {
    border: solid 2px white;
}

.websites img {
    border-radius: 20px;
    width: 500px;
    height: 290px;
}

.websites p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    display: none;
}

.contact {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 150px;
    margin-bottom: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.contact div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

section.image > img {
    width: 1000px;

}

.black-pricetext {
    color: #F24998;
}

/*-------------FOOTER-------------*/

footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    min-height: 100px;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

/*-------------RESPONSIVE-------------*/

@media (max-width: 1060px) {
    header {
        position: absolute;
        height: 100px;
        display: block;
    }

    .header-text {
        margin-top: 40px;
        font-size: 20px;
    }

    .header-text::before {
        height: 2px;
    }

    .header-info {
        gap: 50px;
        margin-right: 0;
    }

    .introduce {
        font-size: 30px;
        margin-right: 0;
        margin-left: 20px;
    }
    .bta img {
        width: 300px;
    }

    .websites img {
        width: 300px;
        height: 170px;
    }

    .websites p {
        font-size: 15px;
    }

    section.image > img {
        width: 300px;
    }

    section.image:first-child {
        margin-bottom: -200px;
    }

    .pricelist {
        width: 70%;
    }

    .black-pricetext {
        color: black;
    }

}