@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    background: none;
    width: 90%;
    height: 200px;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 400px;
    height: 200px;
}

.header-text, .footer-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    transition: 0.3s ease;
}

.header-text:hover, .footer-text:hover {
    color: white;
}

.header-text::before, .footer-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 110%;
    height: 3px;
    bottom: -10px;
    right: -4px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header-text:hover::before, .footer-text:hover::before {
    transform: scaleX(1);
}

.header-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

/*-------------MAIN-------------*/

main {
    margin: 0;
    padding: 0;
}

.introduce {
    color: white;
    font-family: 'Intro';
    margin-right: 300px;
    font-size: 40px;
}

section.image {
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

div.text {
    background-color: whitesmoke;
    padding: 20px;
    font-family: 'Intro';
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.bta {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    width: 95%;
    margin-bottom: 120px;
}

.bta img, .websites-logos {
    transition: 0.3s;
}

.bta img:hover, .websites-logos:hover {
    transform: scale(1.1);
}

.websites {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.websites-logos {
    width: 200px;
}

/*-------------FOOTER-------------*/

footer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    min-height: 100px;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

/*-------------RESPONSIVE-------------*/

@media (max-width: 1060px) {
    header {
        position: absolute;
        height: 100px;
        display: block;
    }

    header > img {
        width: 200px;
        height: 100px;
    }

    .header-text {
        margin-right: 200px;
        font-size: 15px;
    }

    .header-text::before {
        height: 2px;
    }

    .introduce {
        font-size: 20px;
        margin-right: 0;
        margin-left: 20px;
    }

    .bta img {
        width: 300px;
    }
}